<div class="row">
<div class="col-md-12" style="padding: 15px; margin-top: 2%;">
	<div class="col-md-2">
		<app-submenu (menuChanged)="menuChanged($event)" [appName]="appName"></app-submenu>
	</div>
	<!--<div class="col-md-10" *ngIf="menuName=='JVM';else businessBlock">
		<jvm-graphs-component [applName]="appName"></jvm-graphs-component>
	</div>
	<ng-template #businessBlock>
		<div class="col-md-10">
			<graphs-component [applName]="appName"></graphs-component>
		</div>
	</ng-template>-->
	<div class="col-md-10" *ngIf="menuName=='JVM';else businessBlock">
		<jvm-graphs-component [applName]="appName"></jvm-graphs-component>
	</div>
	<ng-template #businessBlock>
		<div class="col-md-10">
			<highChart-component [applName]="appName"></highChart-component>
		</div>
	</ng-template>
</div>
</div>
<!--<highChart-component></highChart-component>-->
